<div>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <form [formGroup]="countryForm" (ngSubmit)="onFormSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Select a country" matInput formControlName="country" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let country of $filteredCountries | async" [value]="country">
          {{country.place.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="country.hasError('required')">
        Country required.
      </mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <div id ="buttons">
      <button mat-raised-button>Submit</button>
      <button mat-raised-button type="button" (click)="resetForm()">Reset</button>
    </div>
    
    <div class="cards">
      <mat-card class="card" *ngFor="let cardinfo of cardinfos" >
        <mat-card-header>
          <mat-card-title> {{cardinfo.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Continent:
            {{cardinfo.continent}}
          </p>
        </mat-card-content>
        <mat-card-content>
          <p>
            Capital:
            {{cardinfo.capital}}
          </p>
        </mat-card-content>
        <mat-card-content>
          Neighbors : 
          <li *ngFor="let neighbor of cardinfo.neighbors ">
           {{neighbor.place.name}}
          </li>
        </mat-card-content>
        <mat-card-content class = "conditions-circle" [ngClass]="{
          'conditions-circle-hot' : cardinfo.tempreture >= 20,
          'conditions-circle-normal' : (cardinfo.tempreture < 20 && cardinfo.tempreture >= 10),
          'conditions-circle-cold' : cardinfo.tempreture < 10
       }">
          <div class="condition-data">
            <div class="hi-lo">
              <span class="hi">High: {{cardinfo.hightempreture}}</span>
              <span class="seperator"> | </span>
              <span class="lo">Low: {{cardinfo.lowtempreture}}</span>
            </div>
            <div class="current-temp" style="color: rgb(182, 198, 9);">
              <span class="center-value">{{cardinfo.tempreture}}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    
  </form>

  